# This is Git's per-user configuration file.
[user]
	name = Saisuresh333233
	email = saisuresh333233@gmail.com
# Please adapt and uncomment the following lines:
#	name = root
#	email = root@ip-172-31-1-141.ec2.internal
